<div class="card">
    <img src="{{recipe.imagePath}}" alt="" class="card-img-top img-recponsive">
    <div class="card-body">
      <h4 class="card-title">{{recipe.name}}</h4>
      <p class="card-text">{{recipe.description}}</p>
      <div class="dropdown">
        <button class="btn btn-primary btn-block dropdown-toggle" type="button" appDropdown #r="appDropdown">Manage Recipe</button>
        <div class="dropdown-menu w-100" [ngClass]="{'show':r.isShow}">
          <a (click)="onAddToShoppingList()" class="dropdown-item" style="cursor: pointer;">To Shopping List</a>
          <a href="#" class="dropdown-item">Edit Recipe</a>
          <a href="#" class="dropdown-item">Delete Recipe</a>
        </div>
      </div>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item" *ngFor="let ingredient of recipe.ingredients">
          {{ingredient.name}} - {{ingredient.amount}}
        </li>
    </ul>
</div>

