<div class="container">
  <h1 class="text-center">Daily calorie calculator</h1>
  <form>
    <div class="row">
      <div class="form-group col-2">
        <label class ="" for="age">Age</label>
        <input class ="form-control" type="number" placeholder="Age" id="age">
      </div>
    </div>
    <div class="row">
      <div class="form-group col-2" >
          <label class ="" for="gender">Gender</label>
          <select class="form-control" id="gender" >
              <option>Male</option>
              <option>Female</option>
          </select>
      </div>
    </div>
    <div class="row">
        <div class="form-group col-2">
          <label class ="" for="myWeight">My Weight</label>
          <input class ="form-control" type="number" placeholder="lb" id="myWeight">
        </div>
    </div>
    <div class="row">
      <div class="form-group col-2">
          <label class ="" for="heightFeet">Height feet</label>
          <input class ="form-control" type="number" placeholder="Feet" id="heightFeet">
      </div>
      <div class="form-group col-2">
          <label class ="" for="heightInch">Height inch</label>
          <input class ="form-control" type="number" placeholder="Inch" id="heightInch">
      </div>
    </div>
    <button class="btn btn-primary" type="submit">Submit</button>
  </form>
</div>
