<div class="container">
  <div class="row">
    <div class="col-6">
      <app-shopping-edit></app-shopping-edit>
    </div>
    <div class="col-6">
      <label for="list">Ingredients</label>
      <ul class="list-group" id="list">
        <a 
          class="list-group-item" 
          style="cursor: pointer"
          *ngFor="let ingredient of ingredients; let i = index"
          (click)="onEditItem(i)">{{ingredient.name}} ({{ingredient.amount}})</a>
          <!-- when click on  one of ingredietns f() onEditItem tells us which ingredient we got, by passing index of ingridients array-->
      </ul>
    </div>
  </div>
</div>


